.morning-pages-widget {
  position: var(--status-bar-position);
  width: auto;
  bottom: 0;
  left: 0;
  border-radius: 0  var(--radius-m) 0 0;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--status-bar-border-color);
  background-color: var(--status-bar-background);
  color: var(--status-bar-text-color);
  display: flex;
  font-size: var(--status-bar-font-size);
  justify-content: flex-end;
  min-height: 18px;
  padding: var(--size-4-1);
  gap: var(--size-4-1);
  user-select: none;
  z-index: var(--layer-status-bar);
  font-variant-numeric: tabular-nums;
}

.morning-pages-widget .word-counter-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-4-1);
}
